* {
  font-weight: normal;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  color: #fff;
  background: #0d1a71;
  background-image: url(../img/bg.png);
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  padding: 2em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
div#container #play {
  align-self: flex-end;
  margin-bottom: 0;
  margin-top: 3em;
}
@media screen and (max-width: 520px) {
  div#container #play {
    order: 1;
    align-self: center;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}
div#container #play img {
  margin: 1em 0;
  width: 30px;
  cursor: pointer;
}
@media screen and (max-width: 520px) {
  div#container #play img {
    transform: rotate(90deg);
  }
}
div#container div#search {
  align-self: flex-end;
}
@media screen and (max-width: 520px) {
  div#container div#search {
    align-self: center;
  }
}
div#container div#search input[type="search"] {
  width: 300px;
  font-size: 18px;
  border: 1px solid #5399e6;
  padding: 1em;
  background: #7bafd9;
  display: block;
  background: #7bafd9 url('../img/search.svg') 2em center no-repeat;
  background-size: 20px;
  text-indent: 4em;
  -webkit-appearance: none;
}
div#container div#search input::placeholder {
  color: #243b6d;
}
div#days {
  display: grid;
  width: 100%;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
}
@media screen and (max-width: 520px) {
  div#days {
    width: 220px;
  }
}
div#days div#current {
  background: transparent;
}
div#days div#current h2 {
  font-size: 26px;
  margin: 0;
  text-transform: uppercase;
}
div#days div#current .temperature {
  font-size: 96px;
  font-weight: lighter;
}
div#days div.day {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 2em;
  background: rgba(255, 255, 255, 0.1);
  height: 240px;
}
div#days div.day h3,
div#days div.day p {
  margin: 0;
  text-transform: lowercase;
}
div#days div.day p {
  font-size: 18px;
}
div#days div.day .temperature {
  font-size: 36px;
  font-weight: lighter;
}
div#days div.day img {
  max-height: 100px;
  margin: 1em 0;
}
.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
