@background-color: #0d1a71;
@text-color: #fff;
@day-min-width: 220px;
@mobile-breakpoint: 520px;

* {
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
    color: @text-color;
    background: @background-color;
    background-image: url(../img/bg.png);
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    
    .flex-centered;
}

div#container { 
    width: 100%;
    max-width: 1000px;
    height: 100%;
    padding: 2em;
    box-sizing: border-box;
    
    .flex-centered;
    flex-flow: column;

    #play {
        align-self: flex-end;
        margin-bottom: 0;
        margin-top: 3em;

        @media screen and (max-width: @mobile-breakpoint) {
            order: 1;
            align-self: center;
            margin-bottom: 1em;
            margin-top: 1em;
        }

        img {
            margin: 1em 0;
            width: 30px;
            cursor: pointer;

            @media screen and (max-width: @mobile-breakpoint) {
                transform: rotate(90deg);
            }
        }
    }

    div#search {
        align-self: flex-end;

        @media screen and (max-width: @mobile-breakpoint) {
            align-self: center;
        }

        input[type="search"] {
            width: 300px;
            font-size: 18px;
            border: 1px solid #5399e6;
            padding: 1em;
            background: #7bafd9;
            display: block;
            background: #7bafd9 url('../img/search.svg') 2em center no-repeat;
            background-size: 20px;
            text-indent: 4em;
            -webkit-appearance: none; // for Safari
        }

        input::placeholder {
            color: #243b6d;
        }
    }
}


div#days {
    display: grid;
    width: 100%;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(@day-min-width, auto));

    @media screen and (max-width: @mobile-breakpoint) {
        width: @day-min-width;
    }

    div#current {
        background: transparent;
        h2 {
            font-size: 26px;
            
            margin: 0;
            text-transform: uppercase;
        }
        .temperature {
            font-size: 96px;
            font-weight: lighter;
        }
    }
    
    div.day {
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        padding: 2em;
        background: rgba(255, 255, 255, .1);
        height: 240px;

        h3, p {
            margin: 0;
            text-transform: lowercase;
        }

        p {
            font-size: 18px;
        }

        .temperature {
            font-size: 36px;
            font-weight: lighter;
        }

        img {
            max-height: 100px;
            margin: 1em 0;
        }
    }
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}